
body{
    margin: 0;
    padding: 0;
    background: rgb(44, 44, 44);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

* { padding: 0; margin: 0; }
canvas { background: rgb(44, 44, 44); display: block; margin: 0 auto; cursor:none }
   